.sitemap
    ul
        li
            a(href=routes.home, title="home") home                
        li
            a(href=routes.join, title="home") join        
        li
            a(href=routes.login, title="home") login                
        li
            a(href=routes.logout, title="home") logout        
        li
            a(href=routes.search, title="home") search                  
        li
            a(href=routes.users+routes.users, title="home") users        
        li
            a(href=routes.users+routes.userDetail, title="home") userDetail                
        li
            a(href=routes.users+routes.editProfile, title="home") editProfile        
        li
            a(href=routes.users+routes.changePassword, title="home") changePassword                
        li
            a(href=routes.videos+routes.videos, title="home") videos        
        li
            a(href=routes.videos+routes.upload, title="home") upload                
        li
            a(href=routes.videos+routes.videoDetail, title="home") videoDetail        
        li
            a(href=routes.videos+routes.editVideo, title="home") editVideo                
        li
            a(href=routes.videos+routes.deleteVideo, title="home") deleteVideo        



    //- home
    //- join
    //- login
    //- logout
    //- search  
    //- users
    //- userDetail
    //- editProfile
    //- changePassword
    //- videos
    //- upload
    //- videoDetail
    //- editVideo
    //- deleteVideo

